// Place all the styles related to the favorite_question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.child{
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
  position: relative;
}

.title{
  display: inline-block;
}

.time{
  display: inline-block;
  position:absolute;
  right: 10em;
}

#favorites-button{
  margin-right: 8em;
}
